.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
}

.user {
  border: 2px solid #2b2eff;
  border-radius: 10px;
  background-color: white;
  color: #2b2eff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 500px;
  height: 300px;
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #2b2eff;
  color: #2b2eff;
  background: white;
}

.paginationBtns a:hover {
  background: #2b2eff;
  color: white;
  border: 2px solid #c7c7d1;
  cursor: pointer;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
  border: 2px solid #c7c7d1;
}
