@import "~scss-spinners/components/round";

html {
	font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
	margin: 0;
}

.container {
	padding: 35px 20px 30px;
}

.rectangle-button-lg {
		margin: 20px;
		font-size: 2rem;
		border-radius: 30px;
		border-color: #91C788;
		color: white;
		width: 290px;
		height: 72px;
		background-color: #91C788;
		font-family: 'Signika';
		
		
}