@import "~scss-spinners/components/round";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
	font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
	margin: 0;
}

.container {
	padding: -5px;
	background: beige;
	margin-top: 2rem;
	border-radius: 40px;
	font-family: "Signika";
	font-weight: bold;
	max-width: 300px;
	max-height: 650px;
	display: flex;
    flex-direction: column-reverse;
  	text-align: center;
  	justify-content: flex-end;
}


.rectangle-btn-lg {
		margin: 20px;
		font-size: 2rem;
		border-radius: 30px;
		border-color: #91C788;
		color: white;
		width: 290px;
		height: 72px;
		background-color: #91C788;
		font-family: 'Signika';
		// justify-content: ;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  .slider {
	position: relative;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3rem;
  }