.aws-btn {

    --slider-height-percentage: 48%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 37px;
    --organic-arrow-color: #d5d5d5;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #fafafa;
    --control-bullet-active-color: #d5d5d5;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
    }